{% extends "base.html.twig" %}
{% block title %}Book gallery{% endblock %}
{% block body %}
    {{ parent() }}
    <p><a href="{{ path('gallery') }}">Go back to gallery page</a></p>
	<form method="post" action="{{ path("book_edit_handler", {"id": book.id}) }}" enctype="multipart/form-data" >
                {% if ((error is defined) and (error=="name")) %}
                    <p style="color:red">Book title is missing!</p>
                {% elseif ((error is defined) and (error=="author")) %}
                    <p style="color:red">Author is missing!</p>
                {% elseif ((error is defined) and (error=="read_at")) %}
                    <p style="color:red">Completion date is wrong or missing!</p>
                {% endif %}
        
		<p>Book title</p>
        <input name="name" {% if (book.name is defined) %} value="{{ book.name }}" {% endif %} /><br>
		<p>Author</p>
		<input name="author" {% if (book.author is defined) %} value="{{ book.author }}" {% endif %} /><br>
		<p>Picture of book cover</p>
        {% if (book.cover is not null) %} 
            <p style="color:gray">File already exists</p> 
            {{ show_image([path("index"),book.cover]|join(""),100,100) }}
            <br>
        {% endif %}
		<input type="file" name="cover" />
        <input type="checkbox" name="remove_cover" /><span>Remove cover</span><br>
		<p>Book file (leave blank if not available)</p>
        {% if (book.file is not null) %} <p style="color:gray">File already exists</p> {% endif %}
		<input type="file" name="file" />
        <input type="checkbox" name="remove_file" /><span>Remove file</span><br>
		<p>Allow file download for unathorized users</p>
		<input type="checkbox" name="allowed" {% if ((book.allowed is defined) and (book.allowed==true)) %} checked {% endif %} /><br>
		<p>Completion date (leave blank if not available)</p>
		<input type="date" name="read_at" {% if (book.readat is defined) %} value="{{ book.readat }}" {% endif %} /><br>
        {% if (book.readat is defined) %} <p>{{ book.readat }}</p> {% endif %}
		<input type="submit" value="Edit book" />
        <p><a href="{{ path("book_delete_handler", {"id":book.id}) }}">Delete book</a></p>
    </form>
{% endblock %}
