{% extends "base.html.twig" %}
{% block title %}Главная страница{% endblock %}
{% block body %}
    {{ parent() }}
<a href="{{ path('fos_user_security_login') }}">Login</a>
<a href="{{ path('fos_user_registration_register') }}">Register</a>

{% if (user) %}
	<p>You are currently logged in as {{user}}</p>
{% else %}
	<br>
{% endif %}

<a href="{{ path('gallery') }}">Go to library</a>
{% endblock %}
